<div class="krit-header" #kritHeader [style.background-size]="backgroundSize">
  <div class="menu">
    <div class="krit-logo clickable" scrollTo scrollTargetSelector="#header-section"></div>
    <div class="bookmark-graphic bookmark-0"></div>
    <ul class="menu-list">
      <li><a scrollTo href="#section-0">Ný fjármögnunarleið</a></li>
      <li><a scrollTo href="#section-1">Um Krít</a></li>
      <li><a scrollTo href="#section-2">Hafðu samband</a></li>
      <li><a scrollTo href="#section-3">Samstarfsaðili</a></li>
      <!-- TODO: Add back in when content is ready -->
      <!-- <li><a scrollTo href="#section-4">Viðskiptavinir</a></li> -->
    </ul>
  </div>

  <div class="header-content">  
    <h1>Við fjármögnum innflutninginn fyrir þig</h1>
    <p>Krít er ný og einföld leið til þess að fjármagna vöruinnflutning fyrirtækja. Við greiðum seljanda beint fyrir þína hönd og tökum veð í vörunum. Þægilegra gæti það ekki verið.</p>
  </div>

  <div class="krit-down-arrow clickable animated infinite bounce" scrollTo scrollTargetSelector="#section-0"></div>
</div>