<div class="krit-header">
  <div class="krit-logo clickable" scrollTo scrollTargetSelector="#header-section"></div>

  <div class="header-content">  
    <h1>Við fjármögnum innflutninginn fyrir þig</h1>
    <p>Krít er ný og einföld leið til þess að fjármagna vöruinnflutning fyrirtækja. Við greiðum seljanda beint fyrir þína hönd og tökum veð í vörunum. Þægilegra gæti það ekki verið.</p>
  </div>

  <div class="krit-down-arrow clickable animated infinite bounce" scrollTo scrollTargetSelector="#section-0"></div>
</div>