<form #newMessageForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group">
      <label for="name">Nafn</label>
      <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="newMessage.name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="company">Fyrirtæki</label>
      <input type="text" class="form-control" id="company" name="company" required [(ngModel)]="newMessage.company">
    </div>
    <div class="seperator"></div>
    <div class="form-group">
      <label for="ssn">Kennitala</label>
      <input type="text" class="form-control" id="ssn" name="ssn" required [(ngModel)]="newMessage.ssn">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="email">Tölvupóstur</label>
      <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="newMessage.email">
    </div>
    <div class="seperator"></div>
    <div class="form-group">
      <label for="phoneNumber">Sími</label>
      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required [(ngModel)]="newMessage.phoneNumber">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="productType">Helstu vöruflokkar í innflutningi</label>
      <input type="text" class="form-control" id="productType" name="productType" required [(ngModel)]="newMessage.productType">
    </div>
    <div class="seperator"></div>
    <div class="form-group">
      <label for="amountNeeded">Lánsfjárþörf</label>
      <input type="text" class="form-control" id="amountNeeded" name="amountNeeded" required [(ngModel)]="newMessage.amountNeeded">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="other">Annað</label>
      <textarea type="text" class="form-control" id="other" name="other" cols="30" rows="10" [(ngModel)]="newMessage.other"></textarea>
    </div>
  </div>

  <button *ngIf="!submitting" type="submit" class="krit-send-btn clickable" [disabled]="!newMessageForm.form.valid">
    Senda umsókn
  </button>
  <div *ngIf="submitting" class="sk-double-bounce">
    <div class="sk-child sk-double-bounce1"></div>
    <div class="sk-child sk-double-bounce2"></div>
  </div>
  <p>{{responseMsg}}</p>

</form>