.content-section {
    background-color: #fff;
}

.bookmark-graphic {
    width: 89px;
    height: 360px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    top: 70px;
    left: 0px;
}

.bookmark-0 {
    background-image: url(~/assets/images/bookmark_graphic_0.png);
}

.bookmark-1 {
    background-image: url(~/assets/images/bookmark_graphic_1.png);
}

.bookmark-2 {
    background-image: url(~/assets/images/bookmark_graphic_2.png);
}

.bookmark-3 {
    background-image: url(~/assets/images/bookmark_graphic_3.png);
}

.bookmark-4 {
    background-image: url(~/assets/images/bookmark_graphic_4.png);
}

.krit-logo {
    top: 70px;
}

.content {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 106px 25% 0 25%;
}

.menu-list {
    display: inline-block;
    position: absolute;
    list-style: none;
    left: 114px;
    top: 230px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: VistaSansAlt;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.menu-list li {
    margin-bottom: 23px;
}

.krit-content-box {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.krit-content-box:first-of-type {
    margin-top: 0px;
}

.krit-content-box > .content-left-section,
.krit-content-box > .content-right-section {
    position: absolute;
    min-width: 56px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.krit-content-box > .round-end {
    background-image: url(~/assets/images/round-end.svg);
}

.krit-content-box > .triangle-end {
    background-image: url(~/assets/images/triangle-end.svg);
}

.krit-content-box > .bracket-end {
    background-image: url(~/assets/images/bracket-end.svg);
}

.krit-content-box > .content-left-section {
    left: 0;
}

.krit-content-box > .content-right-section {
    right: 0;
}

.krit-content-box > .reversed {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
}

.krit-content-box > .content-middle-section {
    height: 100%;
    margin: 0 56px;
    display: inline-block;
    padding: 0 27px;
}

h2 {
    font-family: VistaSansAlt;
    font-size: 32px;
    font-weight: bold;
    margin: 0 83px 55px 83px;
}

p {
    font-family: VistaSansLight;
    font-size: 18px;
    line-height: 26px;
    margin: 20px 0;
}

p.bold {
    font-family: VistaSansMed;
}