<div class="content-section" #contentSection>
  <div class="menu">
    <div class="krit-logo clickable" scrollTo scrollTargetSelector="#header-section"></div>
    <div class="bookmark-graphic bookmark-{{bookmarkIndex}}"></div>
    <ul class="menu-list">
      <li><a scrollTo href="#section-0">Ný fjármögnunarleið</a></li>
      <li><a scrollTo href="#section-1">Um Krít</a></li>
      <li><a scrollTo href="#section-2">Hafðu samband</a></li>
      <li><a scrollTo href="#section-3">Samstarfsaðili</a></li>
      <li><a scrollTo href="#section-4">Viðskiptavinir</a></li>
    </ul>
  </div>

  <div class="content">
    content
  </div>
</div>
