<!-- HEADER BEGINS -->
<app-header id="header-section"></app-header>
<!-- /HEADER ENDS -->

<!-- CONTENT BEGINS -->
<!-- Ný fjármögnunarleið -->
<app-content-section bookmarkIndex="0" id="section-0"></app-content-section>
<app-graphic-section graphicName="ships"></app-graphic-section>

<!-- Um Krít -->
<app-content-section bookmarkIndex="0"></app-content-section>
<app-graphic-section graphicName="palettes"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Hafðu samband -->
<app-content-section bookmarkIndex="1" id="section-1"></app-content-section>
<app-graphic-section graphicName="warehouse"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Samstarfsaðili -->
<app-content-section bookmarkIndex="2" id="section-2"></app-content-section>
<app-graphic-section graphicName="arrow"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Samstarfsaðili -->
<app-content-section bookmarkIndex="3" id="section-3"></app-content-section>
<app-graphic-section graphicName="ships"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- FOOTER BEGINS -->
<app-content-section bookmarkIndex="4" id="section-4"></app-content-section>
<!-- /FOOTER ENDS -->