<!-- HEADER BEGINS -->
<app-header id="header-section"></app-header>
<!-- /HEADER ENDS -->

<!-- CONTENT BEGINS -->
<!-- Ný fjármögnunarleið -->
<app-content-section contentName="ships" (topContent)="onTopContent($event)" bookmarkIndex="0" id="section-0"></app-content-section>
<app-graphic-section graphicName="ships" [hidden]="currGraphic !== 'ships'"></app-graphic-section>

<!-- Um Krít -->
<app-content-section contentName="palettes" (topContent)="onTopContent($event)" bookmarkIndex="0"></app-content-section>
<app-graphic-section graphicName="palettes" [hidden]="currGraphic !== 'palettes'"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Hafðu samband -->
<app-content-section contentName="warehouse" (topContent)="onTopContent($event)" bookmarkIndex="1" id="section-1"></app-content-section>
<app-graphic-section graphicName="warehouse" [hidden]="currGraphic !== 'warehouse'"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Samstarfsaðili -->
<app-content-section contentName="arrow" (topContent)="onTopContent($event)" bookmarkIndex="2" id="section-2"></app-content-section>
<app-graphic-section graphicName="arrow" [hidden]="currGraphic !== 'arrow'"></app-graphic-section>
<!-- /CONTENT ENDS -->

<!-- Samstarfsaðili -->
<app-content-section bookmarkIndex="3" id="section-3"></app-content-section>
<!-- <app-graphic-section graphicName=""></app-graphic-section> -->
<!-- /CONTENT ENDS -->

<!-- FOOTER BEGINS -->
<app-content-section bookmarkIndex="4" id="section-4"></app-content-section>
<!-- /FOOTER ENDS -->