.graphic-section-ships {
    background-image: url(~/assets/images/sea_bg.png);
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

.ships {
    width: 200%;
    height: 100%;
    position: absolute;
    right: 0px;
    background-image: url(~/assets/images/ships.png);
    background-size: 500px;
    background-position: center;
    background-repeat: repeat-x;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.graphic-section-palettes {
    background-color: #D8D8D8;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

.palettes {
    width: 400%;
    height: 400%;
    top: -200%;
    left: -200%;
    -webkit-transform: rotate(-45deg) translate3d(0, 0 ,0);
            transform: rotate(-45deg) translate3d(0, 0 ,0);
    position: absolute;
    background-image: url(/assets/images/palette.png);
    background-size: 200px;
    background-position: center;
    background-repeat: repeat;
}

.graphic-section-warehouse {
    background-image: url(~/assets/images/warehouse.svg);
    overflow: hidden;
    background-size: cover;
    background-position-x: 0px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

.graphic-section-arrow {
    background-image: url(~/assets/images/arrow.svg);
    background-color: #F3F9FC;
    overflow: hidden;
    background-size: 60%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

h1 {
    font-family: VistaSansAlt;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #0064a6;
    margin-top: 110px;
}
